## **DEADLINE 18 JUNI**

In [73]:
import pandas as pd
from google.colab import files
 
 
uploaded = files.upload()

Saving Test_set.xlsx to Test_set.xlsx

In [ ]:
import pandas as pd
import io

In [65]:
data_train = pd.read_excel(io.BytesIO(uploaded['Data_Train.xlsx']))
print(data_train)

           Airline Date_of_Journey    Source Destination  \
0           IndiGo      24/03/2019  Banglore   New Delhi
1        Air India       1/05/2019   Kolkata    Banglore
2      Jet Airways       9/06/2019     Delhi      Cochin
3           IndiGo      12/05/2019   Kolkata    Banglore
4           IndiGo      01/03/2019  Banglore   New Delhi
...            ...             ...       ...         ...
10678     Air Asia       9/04/2019   Kolkata    Banglore
10679    Air India      27/04/2019   Kolkata    Banglore
10680  Jet Airways      27/04/2019  Banglore       Delhi
10681      Vistara      01/03/2019  Banglore   New Delhi
10682    Air India       9/05/2019     Delhi      Cochin

                       Route Dep_Time  Arrival_Time Duration Total_Stops  \
0                  BLR → DEL    22:20  01:10 22 Mar   2h 50m    non-stop
1      CCU → IXR → BBI → BLR    05:50         13:15   7h 25m     2 stops
2      DEL → LKO → BOM → COK    09:25  04:25 10 Jun      19h     2 stops
3            CCU → NAG → BLR    18:05         23:30   5h 25m      1 stop
4            BLR → NAG → DEL    16:50         21:35   4h 45m      1 stop
...                      ...      ...           ...      ...         ...
10678              CCU → BLR    19:55         22:25   2h 30m    non-stop
10679              CCU → BLR    20:45         23:20   2h 35m    non-stop
10680              BLR → DEL    08:20         11:20       3h    non-stop
10681              BLR → DEL    11:30         14:10   2h 40m    non-stop
10682  DEL → GOI → BOM → COK    10:55         19:15   8h 20m     2 stops

      Additional_Info  Price
0             No info   3897
1             No info   7662
2             No info  13882
3             No info   6218
4             No info  13302
...               ...    ...
10678         No info   4107
10679         No info   4145
10680         No info   7229
10681         No info  12648
10682         No info  11753

[10683 rows x 11 columns]

In [66]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [67]:
data_train.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

EDA(Exploratory Data Analysis)

In [68]:
data_train['Journey_day'] = pd.to_datetime(data_train.Date_of_Journey,format = "%d/%m/%Y").dt.day
data_train['Journey_month'] = pd.to_datetime(data_train.Date_of_Journey,format = "%d/%m/%Y").dt.month
data_train=data_train.drop(['Date_of_Journey'], axis=1)

In [69]:
data_train['Dep_hour'] = pd.to_datetime(data_train.Dep_Time).dt.hour
data_train['Dep_min'] = pd.to_datetime(data_train.Dep_Time).dt.minute
data_train.drop(['Dep_Time'],axis = 1,inplace = True)

In [70]:
data_train['Arrival_hour'] = pd.to_datetime(data_train.Arrival_Time).dt.hour
data_train['Arrival_minute'] = pd.to_datetime(data_train.Arrival_Time).dt.hour
data_train.drop(['Arrival_Time'],axis=1,inplace =True)

In [71]:
duration = list(data_train['Duration'])

for i in range(len(duration)):
    if len(duration[i].split()) != 2:
        if "h" in duration[i]:
            duration[i] = duration[i].strip() + " 0m"
        else:
            duration[i] = "0h "+duration[i]

duration_hours = []
duration_mins = []
for i in range(len(duration)):
    duration_hours.append(int(duration[i].split(sep = 'h')[0]))
    duration_mins.append(int(duration[i].split(sep = 'm')[0].split()[-1]))
data_train['Duration_hours'] = duration_hours
data_train['Duration_mins'] = duration_mins
data_train.drop(['Duration'],axis=1,inplace= True)

In [72]:
data_train.head()

,Airline,Source,Destination,Route,Total_Stops,Additional_Info,Price,Journey_day,Journey_month,Dep_hour,Dep_min,Arrival_hour,Arrival_minute,Duration_hours,Duration_mins
0,IndiGo,Banglore,New Delhi,BLR → DEL,non-stop,No info,3897,24,3,22,20,1,1,2,50
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,2 stops,No info,7662,1,5,5,50,13,13,7,25
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,2 stops,No info,13882,9,6,9,25,4,4,19,0
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,1 stop,No info,6218,12,5,18,5,23,23,5,25
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,1 stop,No info,13302,1,3,16,50,21,21,4,45

In [ ]:
data_train['Airline'].value_counts()

In [ ]:
Airline = data_train[['Airline']]
Airline = pd.get_dummies(Airline,drop_first = True)
Airline.head()

In [ ]:
data_train['Source'].value_counts()

In [ ]:
Source = data_train[['Source']]
Source = pd.get_dummies(Source,drop_first = True)
Source.head()

In [ ]:
data_train['Destination'].value_counts()

In [ ]:
Destination = data_train[['Destination']]
Destination = pd.get_dummies(Destination,drop_first = True)
Destination.head()

In [ ]:
# dropping route columns because route and total stops are the same
data_train.drop(['Route',"Additional_Info"],axis = 1,inplace = True)

In [ ]:
data_train['Total_Stops'].value_counts()

In [ ]:
# stops is an ordinal column so we will assign an order
data_train.replace({"non-stop":0,"1 stop":1,"2 stops":2,"3 stops":3,"4 stops":4},inplace = True)

In [ ]:
training = pd.concat([data_train,Airline,Source,Destination],axis = 1)

In [ ]:
# dropping airline, source and destination column because we made a dummies column before
training.drop(['Airline','Source','Destination'],axis = 1,inplace = True)

## Feature Selection